@model Blog

<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
    <div class="page-wrapper">
        <div class="blog-title-area text-center">
            <ol class="breadcrumb hidden-xs-down">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Blog</a></li>
                <li class="breadcrumb-item active">
                    @Model.Title
                </li>
            </ol>

            <span class="color-orange"><a href="tech-category-01.html" title="">
                @Model.Category.Name
                </a></span>

            <h3>@Model.Title</h3>

            <div class="blog-meta big-meta">
                <small><a href="tech-single.html" title="">
                    @Model.Date.ToString("dd MMMM yyyy")
                </a></small>
                <small><a href="tech-author.html" title="">
                    @Model.Writer.Name
                </a></small>
                <small><a href="#" title=""><i class="fa fa-eye"></i> 2344</a></small>
            </div><!-- end meta -->

        </div><!-- end title -->

        <div class="single-post-media">
            <img src="~/tech-blog/tech-blog/upload/tech_menu_08.jpg" alt="" class="img-fluid">
        </div><!-- end media -->

        <div class="blog-content">
            <div class="pp">
                <p>@Model.Description</p>
            </div><!-- end pp -->
            <img src="upload/tech_menu_09.jpg" alt="" class="img-fluid img-fullwidth">
        </div><!-- end content -->
        
        <div class="row">
            <div class="col-lg-12">
                <div class="banner-spot clearfix">
                    <div class="banner-img">
                        <img src="upload/banner_01.jpg" alt="" class="img-fluid">
                    </div><!-- end banner-img -->
                </div><!-- end banner -->
            </div><!-- end col -->
        </div><!-- end row -->

        <hr class="invis1">

        @await Component.InvokeAsync("Author",new{id=Model.BlogId})

        <hr class="invis1">

        @await Component.InvokeAsync("AlsoLike")

        <hr class="invis1">

        <partial name="~/Views/Comment/CommentList.cshtml"/>

        <hr class="invis1">

        <partial name="~/Views/Comment/CommentAdd.cshtml" />

    </div><!-- end page-wrapper -->
</div><!-- end col -->
